<!DOCTYPE html>
<html data-layout-decorator="layout">
<head>
    <title>Login</title>

    <link rel="stylesheet" data-th-remove="tag"
          href="../../static/vendors/bootstrap/dist/css/bootstrap.css"/>

    <link rel="stylesheet" data-th-remove="tag"
          href="../../static/css/theme.css"/>
</head>
<body>
<div data-layout-fragment="content">
    <main class="container text-center">
        <h3>Login with Username and Password</h3>

        <form name="form" data-th-action="@{/login}" action="/login"
              method="POST">
            <fieldset>
                <input type="text" name="username" value=""
                       placeholder="Username"/>
                <input type="password" name="password" placeholder="Password"/>
                <input type="submit" id="login" value="Login"
                       class="btn btn-primary"/>
            </fieldset>
        </form>

        <p data-th-if="${param.logout}" class="alert">You have been logged
            out</p>

        <p data-th-if="${param.error}" class="alert alert-error">There was an
            error,
            please try again</p>
    </main>

    <script data-main="/js/login.js"
            src="../static/vendors/requirejs/require.js"
            data-th-src="@{/vendors/requirejs/require.js}"></script>
</div>
</body>
</html>